<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet"
          href="{{ url_for('static', path='add_game.css') }}" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'components/nav_bar.html' %}

    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80 pointer-events-none"
           aria-hidden="true">
        <div class="relative left-1/2 -z-10 aspect-1155/678 w-144.5 max-w-none -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-288.75"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">
          Adding a Game
        </h2>
        <p class="mt-2 text-lg/8 text-gray-600">
          Adding a new Game to the Backlog is the most exciting isn't it.
          <br />
          Hoppefully you will come around to play it someday ^^
        </p>
      </div>
      <form id="add-game-form"
            onsubmit="send_game(event)"
            class="mx-auto mt-16 max-w-xl sm:mt-20">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-3">
          <div class="sm:col-span-3">
            <label for="game"
                   class="block text-sm font-semibold text-gray-900">
              Game
            </label>
            <div class="mt-2.5 relative group">
              <input id="game"
                     name="game"
                     list="game-list"
                     autocomplete="off"
                     placeholder="Search games…"
                     required
                     hx-get="/search_game"
                     hx-trigger="load from:window, keyup changed delay:300ms"
                     hx-target="#game-list"
                     hx-swap="innerHTML"
                     class="appearance-none block w-full rounded-md border border-gray-300 py-2 pl-3 pr-10 text-base text-gray-900 placeholder-gray-400 focus:border-indigo-600 focus:outline-none sm:text-sm" />

              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                     class="h-5 w-5 transform transition-transform duration-200 group-focus-within:rotate-180">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71 a.75.75 0 111.06 1.06l-4.24 4.24a.75.75 0 01-1.06 0 L5.21 8.27a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </div>
              <datalist id="game-list">
                {% for game in games %}
                  <option value="{{ game.name }}">
                  </option>
                {% else %}
                  <option value=""
                          label="No games to show">
                  </option>
                {% endfor %}
              </datalist>
            </div>
          </div>

          <div class="flex items-center space-x-3">
            <label class="relative inline-block w-11 h-6 cursor-pointer">
              <input type="checkbox"
                     class="sr-only peer"
                     id="released-toggle"
                     name="released" />
              <span class="block w-full h-full bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-indigo-600"></span>
              <span class="absolute top-1 left-1 w-4 h-4 bg-white rounded-full transform transition-transform duration-200 ease-in-out peer-checked:translate-x-5"></span>
            </label>

            <label for="released-toggle"
                   class="text-sm font-medium text-gray-900 cursor-pointer">
              Released?
            </label>
          </div>

          <div class="flex items-center space-x-3">
            <label class="relative inline-block w-11 h-6 cursor-pointer">
              <input type="checkbox"
                     class="sr-only peer"
                     id="purchased-toggle"
                     name="purchased" />
              <span class="block w-full h-full bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-indigo-600"></span>
              <span class="absolute top-1 left-1 w-4 h-4 bg-white rounded-full transform transition-transform duration-200 ease-in-out peer-checked:translate-x-5"></span>
            </label>

            <label for="purchased-toggle"
                   class="text-sm font-medium text-gray-900 cursor-pointer">
              Purchased?
            </label>
          </div>
          <div class="flex items-center space-x-3">
            <label for="excitement"
                   class="block text-sm/6 font-medium text-gray-900">
              Excitement
            </label>
            <div>
              <input type="number"
                     name="excitement"
                     id="excitement"
                     placeholder="0..10"
                     min="0"
                     max="10"
                     step="1"
                     required
                     class="w-20 rounded-md border border-gray-300 py-1.5 px-2 text-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-600" />
            </div>
          </div>
        </div>

        <div class="mt-10">
          <button id="submit-btn"
                  type="submit"
                  class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-default">
            Into the Backlog It Goes!
          </button>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', path='add_game.js') }}"></script>
  </body>
</html>
